.align {
    text-align: left;
  }
  .table {
    min-width: 650px;
  }
  .prodCell {
    width: 15%;
    height: 50%;
  }
  .prodImage {
    width: 100%;
  }
  .prodTitle {
    max-width: 190px;
  }
  .prodTotal {
    min-width: 60px;
  }
  .submitDiv {
    text-align: center;
    padding-top: 10px;
  }
  