/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */


.links {
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.links:hover {
  text-decoration: underline;
  color: white;
}
.product-actions {
  display: inline-block;
  border: 1px solid red;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.dropdownItem {
  position:absolute;
  top: 54px;
  left: 667px;
  right: 0px;
  border: 1px solid;
  padding: 8px;
  z-index: 1;
  background-color: #fff;
  color: black;
  width: 300px;
}

.cart-image {
  width: 50px;
  height: 50px;
  display: inline-block;
  
}
.my-page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
.my-page-link:hover {
  color: black;
  background-color: red;
}

.container-fluid-pagination {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.my-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.loader {
  margin: 0 auto;
  max-width: 1300px;
  padding-right: 0px;
  padding-left: 0px;
   margin: 100px auto;
  text-align: center;
}
/* %container-shared {
  margin: 0 auto;
  max-width: 1300px;
  padding-right: 0px;
  padding-left: 0px;
} */
.root{
  position: relative,
}
.grow{
  flex-grow: 1;
}

.title {
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.title:hover {
  text-decoration: underline;
  color: white;
}
.sectionDesktop {
  display: flex;
}
.Btn{
  cursor: pointer;
  background-color: inherit;
  padding: 4px;
  margin: 2px;
  border: none;
}

.paper{
  padding: 1px;
  text-align: center;
  color: blue;
}
.media {
  height: 140px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 140px; 
}