 .loader {
  min-height: 50vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.links:hover {
  text-decoration: underline;
  color: white;
}
.productActions {
  display: inline-block;
  border: 1px solid red;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.dropdownItem {
  position: absolute;
  top: 42px;
  left: -259px;
  right: 0px;
  border: 1px solid;
  padding: 8px;
  z-index: 1;
  background-color: #fff;
  color: black;
  width: 300px;
}

.cartImage {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.myPageLink {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
.my-page-link:hover {
  color: black;
  background-color: red;
}

.containerFluidPagination {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.myPagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.loader {
  margin: 0 auto;
  max-width: 1300px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 100px auto;
  text-align: center;
}

.root {
  position: relative;
}
.grow {
  flex-grow: 1;
}

.title {
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.title:hover {
  text-decoration: underline;
  color: white;
}
.sectionDesktop {
  display: flex;
}
.Btn {
  cursor: pointer;
  background-color: inherit;
  padding: 4px;
  margin: 2px;
  border: none;
}

.paper {
  padding: 1px;
  text-align: center;
  color: blue;
}
.media {
  height: 140px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 140px;
}

.prodCell {
  width: 15%;
  height: 50%;
}
.prodImage {
  width: 100%;
}
.prodTitle {
  max-width: 190px;
}
.prodTotal {
  min-width: 60px;
}
.submitDiv {
  text-align: center;
  padding-top: 10px;
}
.table {
  min-width: 650px;
}
.align {
  text-align: left;
}

.mediaForProdDetails {
  height: 0px;
  padding-top: 56.25%;
}
.avatar {
  background-color: red;
}
 .rootForProdDetails {
  max-width: 669px;
  margin: 0 auto;
 }
 .buttonAddTocart {
  background-color: rgb(253, 59, 59);
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}